body{
    background-image: url(/img/fondo.jpg);
}
.card{
    background-color: white;
    color: black;
    width: 625px;
}
#cards2, #cards4{
    margin-left: 50px;
}
#cards_img{
    height: 600px;
}
#cards3, #cards4{
    margin-top: 50px;
}